<div class="mini-calendar__day mini-calendar-day">
	
	<div class="mini-calendar-day__image-placeholder">
		
		<img src="{{image}}" alt="image" class="mini-calendar-day__image" />

	</div><!-- /.mini-calendar-day__image-placeholder -->

	<div class="mini-calendar-day__content">
		
		<div class="mini-calendar-day__date">
			{{currentDateText}}
		</div><!-- /.mini-calendar-day__date -->

		<h4 class="mini-calendar-day__title {{title_prefix}}">
			{{{title}}}
		</h4><!-- /.mini-calendar-day__title -->

		<div class="mini-calendar-day__text">
			{{{text}}}
		</div><!-- /.mini-calendar-day__text -->

	</div><!-- /.mini-calendar-day__content -->

</div><!-- /.mini-calendar__day -->